@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-50: oklch(0.985 0 0);
  --color-theme-100: oklch(0.97 0 0);
  --color-theme-200: oklch(0.922 0 0);
  --color-theme-300: oklch(0.87 0 0);
  --color-theme-400: oklch(0.708 0 0);
  --color-theme-500: oklch(0.556 0 0);
  --color-theme-600: oklch(0.439 0 0);
  --color-theme-700: oklch(0.371 0 0);
  --color-theme-800: oklch(0.269 0 0);
  --color-theme-900: oklch(0.205 0 0);
  --color-theme-950: oklch(0.145 0 0);

  --color-accent-50: oklch(0.985 0 0);
  --color-accent-100: oklch(0.97 0 0);
  --color-accent-200: oklch(0.922 0 0);
  --color-accent-300: oklch(0.87 0 0);
  --color-accent-400: oklch(0.708 0 0);
  --color-accent-500: oklch(0.556 0 0);
  --color-accent-600: oklch(0.439 0 0);
  --color-accent-700: oklch(0.371 0 0);
  --color-accent-800: oklch(0.269 0 0);
  --color-accent-900: oklch(0.205 0 0);
  --color-accent-950: oklch(0.145 0 0);

  --color-theme-100-desat: oklch(
    from var(--color-theme-100) l calc(c * 0.25) h
  );
}

body {
  --wails-resize: all;
}

.wails-drag {
  --wails-draggable: drag;
}

.wails-no-drag {
  --wails-draggable: no-drag;
}
