@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-50: #f0fdf4;
  --color-theme-100: #dcfce7;
  --color-theme-200: #bbf7d0;
  --color-theme-300: #86efac;
  --color-theme-400: #4ade80;
  --color-theme-500: #22c55e;
  --color-theme-600: #16a34a;
  --color-theme-700: #15803d;
  --color-theme-800: #166534;
  --color-theme-900: #14532d;
  --color-theme-950: #052e16;

  --color-accent-50: #ecfeff;
  --color-accent-100: #cffafe;
  --color-accent-200: #a5f3fc;
  --color-accent-300: #67e8f9;
  --color-accent-400: #22d3ee;
  --color-accent-500: #06b6d4;
  --color-accent-600: #0891b2;
  --color-accent-700: #0e7490;
  --color-accent-800: #155e75;
  --color-accent-900: #164e63;
  --color-accent-950: #083344;
}

body {
  --wails-resize: all;
}

.wails-drag {
  --wails-draggable: drag;
}

.wails-no-drag {
  --wails-draggable: no-drag;
}
